<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Jika file atau direktori ada, akses langsung
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Jika tidak ada, arahkan semua ke index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
